/*  Copyright: The MIT License, 2023 Jonah Yolles-Murphy for the UMass Amherst M5 Maskerspace */

/* -- import fonts -- Ubuntu mono, Roboto mono, Atkinson Hyperlegible */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Roboto+Mono:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

/* --- configuration --- */
:root {
    /* --- version & base --- */
    --label-version: "v0.4";
    --item-page-url-prefix: "https://m5-portal.app/item/";

    /* --- size --- */
    --label-height: 1in;
    --label-width: 7in;
    --front-width: 2in;
    --qr-width: 1in;

    /* --- formatting --- */
    --border-width: 0.01in;

    /* used to adjust margins and padding */
    --a-tad: 0.05in;
    --a-smidge: 0.02in;

    /* --- title style --- */
    --title-font-color: #306ABC;
    --title-font-size: 12pt;
    --title-font-weight: bold;
    --title-font-family: 'Roboto Mono', monospace;
    --title-word-spacing: -2pt;

    /* --- Title borders --- */
    --title-border-width: 2px;
    --title-border-style: solid;

    /* ENABLED = 1 , DISBABLED = 0 */
    --enable-title-border-top: 1;
    --enable-title-border-bottom: 1;
    --enable-title-border-left: 1;
    --enable-title-border-right: 1;

    /* --- front style --- */
    --front-font-family: 'Ubuntu Mono', monospace;
    --front-font-size: 12pt;
    --front-font-weight: normal;
    --front-font-color: black;
    --front-word-spacing: 0pt;

    /* --- left style --- */
    --left-font-family: 'Atkinson Hyperlegible', sans-serif;
    --left-font-weight: normal;
    --left-font-color: black;
    --grayed-out: #999;

    --primary-font-size: 12pt;
    --secondary-font-size: 11pt;
    --aside-font-size: 9pt;

    /* --- content configuration --- */
    --label-version-prefix: "label-format-";
    --label-by-prefix: "label by";
    --zone-id-prefix: "zone-id";
    --zone-id-prompt: "______–____ ____–______";


    /* --- derived --- */
    --qr-size: var(--qr-width, var(--label-height));
    --left-width: calc(var(--label-width) - var(--qr-size) - var(--front-width));
}

/* --- setup printing specifics --- */

@page {
    size: letter upright;

    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 0.75in;
    margin-right: 0.75in;
}

/* slect every 7th child that is an item-label*/

label-list item-label:nth-child(7n) {
    page-break-after: always;
}


/* --- sytling for the label --- */

/* here, icluding label-list means the label-list wrapper is required */
label-list item-label {
    /* --- size configuration --- */
    width: var(--label-width);
    height: var(--label-height);

    /* --- style configuration --- */
    border: solid;
    border-color: gray;
    border-width: var(--border-width);
    /* background-color: red; */

    /* --- grid configuration --- */
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-areas: "left qr front";

}

/* ------ panel configuration ------ */


panel {
    grid-area: attr(layout);
}

panel.qr {
    /* grid-area: qr; */

    /* style */
    border-left: inherit;
    border-right: inherit;
    border-color: inherit;
    border-width: inherit;
}


/* ------ qr panel ------ */


panel.qr {
    width: calc(var(--qr-size) - var(--border-width));
    height: var(--qr-size);

    grid-template: 1fr / 1fr;
}

panel.qr img {
    width: 100%;
    height: 100%;

    align-self: center;
    justify-self: center;
}

/* ------ front panel ------ */

panel.front {
    /* --- size --- */
    padding: 0in;
    width: var(--front-width);
    height: var(--label-height);

    /* --- style --- */
    font-family: var(--front-font-family);
    font-size: var(--front-font-size);
    font-weight: var(--front-font-weight);
    color: var(--front-font-color);
    word-spacing: var(--front-word-spacing, 0pt);

    /* --- grid --- */
    display: grid;
    grid-template-rows: auto min-content min-content;
}


panel.front desc,
panel.front desc * {
    padding-left: var(--a-smidge);
    padding-right: var(--a-smidge);
    width: calc(var(--front-width) - 2*var(--a-smidge));


    /* --- style --- */
    display: block;
    text-align: center;
    justify-self: center;

    /* enforce single line */
    white-space: nowrap;
    text-transform: capitalize;

    /* overflow: when a  */
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
}


panel.front label-title {
    /* grid-area: bottom; */
    grid-row: 3;
    justify-self: center;
    text-align: center;


    /* --- style --- */
    word-spacing: var(--title-word-spacing);

    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    font-family: var(--title-font-family);

    color: var(--title-font-color);


    /* --- size --- */
    margin: 0in;
    margin-top: var(--a-smidge);

    padding: 0in;

    --tbw: var(--title-border-width, 2px);
    --etbl: var(--enable-title-border-left, 0);
    --etbr: var(--enable-title-border-right, 0);
    --etbt: var(--enable-title-border-top, 0);
    --etbb: var(--enable-title-border-bottom, 0);

    width: calc(100% - var(--tbw)*(var(--etbl, 0) + var(--etbr, 0)));


    /* --- title borders --- */
    border-style: var(--title-border-style, solid);
    border-color: var(--title-font-color);

    /* title border width*/
    /* there have to be set after the other border related properties */
    border-left-width: calc(var(--tbw) * var(--etbl));
    border-right-width: calc(var(--tbw) * var(--etbr));
    border-top-width: calc(var(--tbw) * var(--etbt));
    border-bottom-width: calc(var(--tbw) * var(--etbb));
}

panel.front markings {
    grid-row: 1;
    /* justify-self: center; */
}


panel.front desc {
    grid-row: 2;
}


/* ------ left panel ------ */

panel.left {
    /* --- size --- */
    padding-left: var(--a-tad);
    padding-right: var(--a-tad);
    padding-top: var(--a-smidge);
    padding-bottom: var(--a-smidge);
    width: calc(var(--left-width) - 2*var(--a-tad));
    height: calc(var(--label-height) - 2*var(--a-smidge));

    /* --- style --- */
    font-family: var(--left-font-family);
    font-size: var(--primary-font-size);
    font-weight: var(--left-font-weight);
    color: var(--left-font-color);
    word-spacing: var(--left-word-spacing, 0pt);

    /* --- grid --- */
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "tl    tr"
        "cl    cl"
        "  .  .  "
        "bl    br";
}


panel.left item-link {
    grid-area: tl;
    justify-self: start;

    color: var(--grayed-out);
}

panel.left prompt {
    grid-area: bl;
    align-self: end;
    justify-self: start;
}

panel.left prompt[data-note]::after {
    color: var(--grayed-out);
    font-style: italic;
}

panel.left label-by {
    grid-area: cl;

    font-style: italic;
    font-size: var(--secondary-font-size);
    color: var(--grayed-out);
}


panel.left label-version-format {
    grid-area: tr;
    justify-self: end;


    font-size: var(--aside-font-size);
    font-style: italic;

    color: var(--grayed-out);
    padding-right: var(--a-tad);
}

panel.left quick-ref {
    grid-area: br;
    align-self: end;
    justify-self: start;
}


/* ------ content (inserted text) ------ */


item-link::before {
    text-transform: lowercase;
    content: var(--item-page-url-prefix);
}

label-version-format::before {
    content: var(--label-version-prefix) var(--label-version);
}

label-by::before {
    /* font-style: normal; */
    content: var(--label-by-prefix) ": ";
}

prompt.zone-id::before {
    content: var(--zone-id-prefix) ": " var(--zone-id-prompt);
}

prompt.zone-id[data-note]::after {
    content: " (" attr(data-note)")";
}

quick-ref.checkbox::before {
    display: inline-flex;
    content: "☐";
    line-height: 0;
    font-size: 18pt;
}

/* ------ utility classes ------ */

info.doc-qr::before {
    content: "M5 Open Labels | Documentation/Instructions: " URL(https://chart.googleapis.com/chart?choe=UTF-8&cht=qr&chld=L&chs=77x77&chl=https%3A%2F%2Fgithub.com%2Fumassamherstm5%2FM5-Open-Labels) "";
    max-height: 0.5in;
}

info.doc-link::before {
    content: "M5 Open Labels | Documentation/Instructions: https://github.com/umassamherstm5/M5-Open-Labels";
    max-height: 0.5in;
}

measure.inch-rule {
    display: grid;
    padding-bottom: 1em;
    grid-template-columns: repeat(256, 1in);
}

measure.inch-rule div {
    display: inline-block;
    height: 0.25in;

    border-right: solid;
    border-color: black;
    border-width: 1px;

    text-align: end;
}

measure.inch-rule :first-child {
    border-left: solid;
    border-color: black;
    border-width: 1px;
}